



/* ===== RESET ===== */
html, body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

/* ===== BODY ===== */
body{
  font-family: Arial, sans-serif;

  background-image: url("../photo/mlg-logo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== DARK OVERLAY ===== */
body::before{
  content:"";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.35);
  z-index: 0;
}

/* ===== CONTAINER ===== */
.container{
  position: relative;
  z-index: 1;

  background: rgba(255,255,255,0.95);
  padding: 30px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
  backdrop-filter: blur(6px);
}

/* ===== INPUT ===== */
.container input{
  width:100%;
  padding:10px;
  margin:10px 0;
  border:1px solid #ccc;
  border-radius:6px;
  font-size:14px;
}

/* ===== BUTTON ===== */
.container button{
  width:100%;
  padding:12px;
  background:#2980b9;
  border:none;
  color:#fff;
  font-size:16px;
  border-radius:6px;
  cursor:pointer;
  transition:0.3s;
}

.container button:hover{
  background:#1f6391;
}

/* ===== LINK CONTAINER ===== */
.link{
  text-align:center;
  margin-top:15px;
  font-size:14px;
}

/* ===== LINK STYLE ===== */
.link a{
  display:inline-block;
  color:#2980b9;
  text-decoration:none;
  font-weight:600;
  transition:0.3s ease;
  position:relative;
}

/* underline animation */
.link a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-3px;
  width:0%;
  height:2px;
  background:#2980b9;
  transition:0.3s;
}

.link a:hover{
  color:#1f6391;
}

.link a:hover::after{
  width:100%;
}



/* ===== LOGIN BOX ===== */
.login-box{
  position: relative;
  z-index: 1;

  background: rgba(255,255,255,0.95);
  padding: 30px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
  backdrop-filter: blur(6px);
}

/* ===== TITLE ===== */
.login-box h2{
  text-align:center;
  margin-bottom:20px;
}

/* ===== INPUT ===== */
.login-box input{
  width:100%;
  padding:10px;
  margin:10px 0;
  border:1px solid #ccc;
  border-radius:6px;
  font-size:14px;
}

/* ===== BUTTON ===== */
.login-box button{
  width:100%;
  padding:12px;
  background:#2980b9;
  border:none;
  color:#fff;
  font-size:16px;
  border-radius:6px;
  cursor:pointer;
  transition:0.3s;
}

.login-box button:hover{
  background:#1f6391;
}

/* ===== LINK ===== */
.login-box .link{
  text-align:center;
  margin-top:12px;
  font-size:14px;
}

.login-box .link a{
  color:#2980b9;
  text-decoration:none;
}

.login-box .link a:hover{
  text-decoration:underline;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 400px){
  .login-box{
    width: 85%;
    padding: 25px;
  }
}


</style>